@{
    ViewBag.Title = "Knjige";
}

@model IEnumerable<RenderingViews.Models.Knjige>
<h1>Knjige</h1>
<section class="auctions">
    @foreach (var knjiga in Model)
    {
        <section class="auctions">
            @Html.Partial("Auction", knjiga)
        </section>
    }
</section>
