@model UvodniDemo.Models.AllProductsAndAddresses

@{
    ViewBag.Title = "AllAddressAllProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllAddressAllProducts</h2>

 <div class="display-label">
         @Html.DisplayNameFor(model => model.address[0].AddressLine1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address[0].AddressLine1)
    </div>
