@{
    ViewBag.Title = "Zadatak!";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        Zadatak dobiven na natječaju - Arhitekt za rješenja na Cloudu, Combis
    </p>
    <p style="color:red">
        Strogo zabranjena distribucija koda, slika i dizajna koji su dio ovog rješenja.
    </p>
</article>
